<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../includes/head') %>
</head>

<body>
   <%- include('../includes/navBar') %>
   <main>
      <%if(cartProducts.length) {%>
         <%cartProducts.forEach(product => {%>
            <p>
               <li>
                  <%=product.productData.title%> (<%=product.quantity%>)               
                  <form action="/delete-from-cart" method="post">
                     <button class="btn">Delete</button>
                     <input type="hidden" name="productId" value="<%=product.productData.Id%>">
                  </form>
               </li>
            </p>
         <%})%>
         <p>
            Total price: $<%=totalPrice%>
         </p>
      <%} else {%>
         <h1>No products in the cart yet.</h1>
      <%}%>
      
   </main>
</body>

</html>