<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../includes/head') %>
</head>

<body>
   <%- include('../includes/navBar') %>
   <main>
      <%if(cart.length) {%>
         <%cart.forEach(product => {%>
            <p>
               <li>
                  <%=product.title%> (<%=product.quantity%>)               
                  <form action="/delete-from-cart" method="post">
                     <button class="btn">Delete</button>
                     <input type="hidden" name="productId" value="<%=product.Id%>">
                  </form>
               </li>
            </p>
         <%})%>
      <%} else {%>
         <h1>No products in the cart yet.</h1>
      <%}%>
      
   </main>
</body>

</html>